ClienteServicioWecJava001D/xml-resources/web-service-references/WsClient/wsdl/localhost_8733/Design_Time_Addresses/WCFServiciosWeb/Operaciones/.xsd_xsd0.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/"><xs:element name="Sumar"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="nro1" type="xs:int"/><xs:element minOccurs="0" name="nro2" type="xs:int"/></xs:sequence></xs:complexType></xs:element><xs:element name="SumarResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="SumarResult" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="Restar"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="nr1" type="xs:int"/><xs:element minOccurs="0" name="nr2" type="xs:int"/></xs:sequence></xs:complexType></xs:element><xs:element name="RestarResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="RestarResult" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="Multiplicar"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="nr1" type="xs:int"/><xs:element minOccurs="0" name="nr2" type="xs:int"/></xs:sequence></xs:complexType></xs:element><xs:element name="MultiplicarResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="MultiplicarResult" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="Dividir"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="nr1" type="xs:int"/><xs:element minOccurs="0" name="nr2" type="xs:int"/></xs:sequence></xs:complexType></xs:element><xs:element name="DividirResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="DividirResult" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element></xs:schema>